.aboutimage {
    background-image: linear-gradient(to left, rgba(24, 23, 23, 0.4), rgba(11, 11, 11, 0.4)), url("/public/msgimage.jpg");
    background-size: cover;
    height:300px;
    width: 100%;
    background-repeat: no-repeat;
}
.aboutsmt {
    font-weight: bold;
    padding-top: 9%;
    font-size: 45px;
    font-family: serif;
}
.img-fluid{
    width:400px;
    border-radius: 5px;
}