/* src/PopupForm.css */
.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.popup.show {
    display: flex;
}

.popup-content {
    background-color:white;
   
    padding: 20px;
    border-radius: 5px;
    position: relative;
    width: 100%;
    max-width: 500px;
}
.add{
    border: 2px solid #FD5F00;
    border-radius: 10px;
    color: #FD5F00;
    font-weight: bold;
    text-decoration: none;
   
}
.n{
    text-decoration: none;
}
.add:hover{
    color: white;
    background-color: #0D1128;
    text-decoration: underline;
    border: 2px solid #0D1128;
}
.p2{
    border-radius: 8px;
}
.p1{
    font-weight: bold;
}
.po
{
    color: #FD5F00;
     font-family: serif;
     font-weight: bold;
}
.bp{
    background-color: #FD5F00;
    color: white;
}
.close {
    position: absolute;
    top: 70px;
    right: 20px;
    cursor: pointer;
    font-size: 24px;
}
/* src/App.css */
button.open-form-btn {
    background:#FD5F00;
    color: white;
    font-weight: bold;
    border-radius: 20px;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    text-decoration: none;
    
}

button.open-form-btn:focus {
    outline: none;
}

button.open-form-btn:hover {
   text-decoration: underline;
}
