/* Background image sections */
.engineering-image, .diplomacse-image, .civil-image, .mechanical-image {
  background-image: linear-gradient(to left, rgba(60, 57, 55, 0.4), rgba(82, 79, 75, 0.4)), url("/public/science9.jpeg");
  background-size: cover;
  height: 300px;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center; /* Center the image */
  margin: 0; /* Ensure no margin */
  padding: 0; /* Ensure no padding */
}

/* Responsive adjustments for smaller screens */
@media (max-width: 768px) {
  .engineering-image, .diplomacse-image, .civil-image, .mechanical-image {
    height: 300px; /* Adjust height for smaller screens */
  }
}

/* Text and image columns */
.text-column {
  font-size: 1.2rem;
  font-family: serif;
  text-align: justify;
}

.image-column {
  text-align: center;
  margin-top: 20px;
}

.image-column img {
  width: 100%;
  height: auto;
  max-height: 400px; /* Limit the height to prevent large images */
}

/* Card styles */
.card1 {
  position: relative;
  transition: transform 0.2s;
  cursor: pointer;
  padding: 5px 10px 15px 20px;
  margin-bottom: 20px; /* Add margin for spacing between cards */
}

.card1:hover {
  transform: scale(1.05);
}

.khusbhucard-heading {
  font-family: serif;
  font-weight: bold;
}

.khusbhucard-paiding {
  font-family: serif;
  text-align: justify;
  font-size: 17px;
}

/* Page layout */
.school1-page {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f4f4f4;
 
}

/* Vision and Mission sections */
.vision-section, .mission-section {
  background-color: #f57d0c;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0px 10px rgba(0, 0, 0, 0.8);
  border: 2px solid transparent;
  margin-bottom: 20px; /* Add margin for spacing */
}

.vision-section h2, .mission-section h2 {
  font-size: 29px;
  margin-bottom: 20px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: bold;
  color: rgb(241, 239, 233);
}

.mission-section ul {
  list-style-type: none;
  padding-left: 0;
}

.mission-section li {
  margin-bottom: 10px;
}

/* Carousel styles */
.carousel-inner img {
  border-radius: 10px;
}

.carousel-control-prev-icon, .carousel-control-next-icon {
  background-color: #333;
  border-radius: 50%;
}

.carousel-image {
  height: 430px;
  object-fit: cover;
}

/* Media queries for additional responsiveness */
@media (max-width: 992px) {
  .carousel-image {
    height: 300px;
  }

  .vision-section, .mission-section {
    padding: 15px;
  }

  .vision-section h2, .mission-section h2 {
    font-size: 24px;
  }
}

/* Adjust the container for different screen sizes */
.container {
  max-width: 1200px;
  margin: 0 auto;
}
