/* General Styles */
.bg {
  color: #FD5F00;
}

.a {
  color: #FD5F00;
}

.a1 {
  color: #0D1128;
  font-size: 16px;
  font-weight: bold;
}

.a11 {
  font-size: 15px;
  color: #0D1128;
}

.a2 {
  background-color: #FD5F00;
  color: white;
}

.a2:hover {
  background-color: #0D1128;
  color: white;
}

.bg1 {
  background-color: #FD5F00;
  color: white;
}

.bg2 {
  background-color: #0D1128;
  color: white;
}

.navbar {
  background-color: #0D1128;
  font-weight: bold;
  font-size: 18px;
}

.bg3 {
  font-weight: bold;
  color: #FD5F00;
}

.bg4 {
  background-color: #FD5F00;
  color: white;
  font-size: 1.6em; /* using em instead of px */
  font-weight: bold;
}

/* Hover Effect for Navbar Links */
.nav-link {
  transition: color 0.3s ease;
}

.nav-link:hover {
  color: #FD5F00 !important;
}

.bg5 {
  font-weight: bold;
  font-size: 50px;
}

.bg6 {
  background-image: linear-gradient(to left, rgba(253, 95, 0, 0.4), rgba(83, 82, 80, 0.4)), url("/public/navimage.jpg");
  background-size: cover;
  height: 600px;
}

.bg7 {
  border-radius: 10px;
  background-color: #FFFFFF;
  box-shadow: 2px 2px 2px 2px;
}

.bg8 {
  font-size: 18px;
  font-family: sans-serif;
}

.bg21 {
  margin-left: 10%;
  font-weight: bold;
  margin-top: 15%;
  font-family: serif;
}

.bg22 {
  color: #FD5F00;
}

.bg23 {
  margin-left: 10%;
  font-size: 20px; /* using em instead of px */
}

.bg24 {
  background-color: #FD5F00;
  margin-left: 20%;
  color: white;
  font-size: 17px;
  font-weight: bold;
  border-radius: 20px;
}
.bg24:hover{
  background-color: #0D1128;
  color: white;
}
.bg11 {
  background-color: #FD5F00;
  color: white;
}

.bg12 {
  background-color: #0D1128;
  color: white;
}

.navbar .dropdown-toggle-no-arrow::after {
  display: none;
}

.nav-item.dropdown:hover .dropdown-menu {
  display: block;
}

.navbar .dropdown-menu.no-arrow {
  margin-top: 0;
  padding-top: 0;
  border: none;
  box-shadow: none;
}

.navbar .dropdown-menu.no-arrow .dropdown-item {
  color: #000;
  background-color: #fff;
}

.navbar .dropdown-menu.no-arrow .dropdown-item:hover {
  background-color: #f8f9fa;
}

.navbar .dropdown-menu {
  position: absolute;
}

/* Media Queries */
@media only screen and (max-width: 768px) {
  /* styles for mobile devices */
  .bg6 {
      height: 400px;
  }

  .bg24 {
      margin-left: 5%;
      width: 45%;
  }

  .bgd {
      width: 80%;
      font-size: 16px;
  }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
  /* styles for tablets */
  .bg6 {
      height: 500px;
  }

  .bg24 {
      margin-left: 7%;
  }

  .bgd {
      width: 40%;
      font-size: 16px;
  }
}

@media only screen and (min-width: 1025px) {
  /* styles for desktops */
  .bg6 {
      height: 600px;
  }

  .bg24 {
      margin-left: 9%;
  }

  .bgd:hover {
      background-color: #0D1128;
      color: white;
  }

  .bgd {
      width: 20%;
      font-size: 17px;
  }
}

/* Specific style for carousel images */
.about {
  background-color: #0D1128;
  color: white;
}

.bga {
  font-family: serif;
}

.bgb {
  font-weight: bold;
  font-family: serif;
}

.bgc {
  font-family: sans-serif;
  font-size: 17px;
  text-align: justify;
}

.bgd {
  color: white;
  background-color: #FD5F00;
  border-radius: 20px;
}

.bgd:hover {
  background-color: #0D1128;
  color: white;
}

.bf {
  background-color: #EEEEEE;
  border-radius: 20px;
  padding: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

.bf1 {
  background-color: white;
  border-radius: 20px;
  color: #FD5F00;
  font-weight: bold;
}

.bf2 {
  border-radius: 20px;
  padding: 20px;
}

.bf3 {
  font-size: 16px;
  font-family: sans-serif;
}

.bf4 {
  color: white;
  background-color: #FD5F00;
  border-radius: 20px;
  text-decoration: none;
  font-size: 17px;
}

.bf4:hover {
  background-color: #0D1128;
  color: white;
}
.a10{
  margin-right: 50px;
}